.Ss- {
    padding-left: 520px;
    text-align: centre;
    font-size: 40px;
}


.card {
    width: 256px;
    height: 256px;
    position: relative;
    animation-name: workplease;
    animation-duration: 1s;
}

@keyframes workplease {
    0% {
        left: 0px;
        top: 100px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}
