html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.headerBackground {
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-image: url('../Images/Header1.PNG');
}

/*.SsUniform{
    position: relative;
}*/

._container{
    background-color: white;
    border-style: solid;
    border-color: black;
}

.nav-item{
    background-color:white;
    list-style:none;
}

#footer{
    background-color:black;
    height:0;
    font-size:small; 


}
/*table {
    border: 2px solid black;
}*/


