html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
    position: ;
    
}

.headerBackground{
    background-image: url('../Images/HeadingLogo3.PNG.jpg');
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}