@page
@model AcUniform.Pages.JuniorS.IndexModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/Jdb.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>

<h1 class="Ss-">Junior uniform</h1>

<form>
    <p>
        Uniform Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
    </p>
</form>

    @foreach (var item in Model.Junior) {
       
            <div class="card grow">
                <img class="img-card" src="../Images/trial.png" alt="Junior pleated skirt" style="width:100%">
                @Html.DisplayFor(modelItem => item.Name)
                <br>
                <p class="prices">$@Html.DisplayFor(modelItem => item.Price)</p>
                <a asp-page="./Details" asp-route-id="@item.JuniorID">Details</a>
                <p><button>Add to Cart</button></p>
            </div>                            
}
