@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    h1{
        text-align:center;
    }
</style>
<div class="headerBackground">

<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
</div>
       

</div>
