@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    h1{
        text-align:center;
    }

    h3{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 22px;
        background-color: gray;
    }
    
</style>



<div class="headerBackground">

<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
</div>