@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    h1{
        text-align:center;
    }
</style>
<div class="headerBackground">

<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
</div>

<body>
   <div class="container">
      <div class="row">
         <div class="col-sm-4">
             <h3>Junior Students</h3>
      
         </div>
   <div class="col-sm-4">
             <h3>Senior Students</h3>
      
   <div>
         <div class="col-sm-4">
            <h3>Year 13</h3>        
      
      
     </div>
    </div>
   </div>
  </div>
</div>

</body>




