@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
   .uniformrules{
       float:left;
       padding:none;
   }

   p{
       text-size:8px;
   }
</style>
<body>
    <h3>Uniform Rules:</h3>
<div class = "uniformrules">
    <ul>
        <li>The College expects students to maintain a high standard of dress and grooming at all times.</li> 
        <li>Official uniform must be worn when attending the College, travelling to and from the College and attending school functions away from school (for example, spots tours, cultural and social visits). Students are not to be in the streets or shopping areas in a mixture of uniform and mufti.</li> 
        <li>Uniform should be worn correctly and not altered in any way; design modifications (such as tapering of trousers or shortening of skirts), are not permitted.</li> 
        <li>Boys long black socks are to be worn up, to just below the knee or plain black socks (mid-calf length).</li> 
        <li>Shirts are to be tucked in, the only exception being the senior girls' blouses.</li>
        <li>Belts, if worn, must be black and plain.</li>
        <li>Sandal back straps must be worn correctly and not folded down.</li> 
        <li>The only hat permitted is the regulation school cap and the only scarf permitted is the regulation school scarf.</li> 
        <li>No t-shirts are to be visible beneath the school shirt.</li>
        <li>school bags and books must be grafitti-free.</li>
        <li>All students are expected to be clean and neatly dressed. Hair must be clean, tidy and in natural colour. Headbands, hair ties or ribbons may be black or white only.</li>
        <li>Boys must be clean-shaven and the beginning of a beard or mustache must be shaved off. Sideburns are not to be worn below the ears.</li>
        <li>Students must not wear makeup or nail polish. No jewellery may be worn except for a watch and a plain gold or silver stud or sleeper in one or each ear lobe.</li>
        <li>If students are unable to wear the correct uniform item for one day, they must bring a note from home to their Dean, so that a uniform pass may be issued.</li>
    </ul>
</div>
</body>