@page
@model JuniorStudentsModel
@{
    ViewData["Title"] = "Junior Students page";
}


<div class="Textcenter">
    <h1 class="display-4">Junior Students</h1>
    

</div>

<h3>UNIFORM YEAR 9 - 10</h3>
<img class = "juniorYouts" style = "float:right" width = "440" height = "400" src = "../Images/Junior photo.PNG">
<table>
     <tr>
         <td>Junior pleated short skirt</td>
         <td>$69.00</td>
     </tr>
     <tr>
         <td>Long skirt</td>
         <td>$80.00</td>
     </tr>
     <tr>
         <td>Grey shorts</td>
         <td>$50.00</td>
     </tr>
     <tr>
         <td>Pinstripe shorts</td>
         <td>$59.00</td>
     </tr>
     <tr>
         <td>Grey trousers</td>
         <td>$66.00</td>
     </tr>
     <tr>
         <td>Polo shirt - short sleeve</td>
         <td>$35.00</td>
     </tr>
     <tr>
         <td>Polo shirt - long sleeve</td>
         <td>$40.00</td>
     </tr>
     <tr>
         <td>Black/white jersey</td>
         <td>$99.00</td>
     </tr>
     <tr>
         <td>PE top</td>
         <td>$60.00</td>
     </tr>
     <tr>
         <td>PE shorts</td>
         <td>$45.00</td>
     </tr>
     <tr>
         <td>50 denier pantihose</td>
         <td>$9.00</td>
     </tr>
     <tr>
         <td>Black ankle socks</td>
         <td>$8.50</td>
     </tr>

</table>
