@page
@model JuniorStudentsModel
@{
    ViewData["Title"] = "Junior Students page";
}

<div class="headerBackground">

<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
</div>
<div class="Textcenter">
    <h1 class="display-4">Junior Students</h1>
    <img src = "../Images/Junior student uniform.PNG">

    
</div>
