@page
@model JuniorStudentsModel
@{
    ViewData["Title"] = "Junior Students page";
}


<div class="text-center">
    <h1 class="display-4">Junior Students</h1>
    <img src = "../Junior student uniform.png">

    
</div>
