@page
@model IndexModel
@{
    ViewData["Title"] = "Optional uniform";
}
<body>
<br>

<h1>Optional:</h1>
<br>
<br>
<h3>ALL YEAR LEVELS</h3>


<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Long skirt" style="width:100%">
  <h1 class="h1-card">Long skirt</h1>
  <p class="price">$96.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Long skirt" style="width:100%">
  <h1 class="h1-card">Long skirt</h1>
  <p class="price">$110.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Long skirt" style="width:100%">
  <h1 class="h1-card">Long skirt</h1>
  <p class="price">$135.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Scarf (outside only)" style="width:100%">
  <h1 class="h1-card">Scarf (outside only)</h1>
  <p class="price">$28.50</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Cap (outside only)" style="width:100%">
  <h1 class="h1-card">Cap (outside only)</h1>
  <p class="price">$23.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Black socks with double white stripe" style="width:100%">
  <h1 class="h1-card">Black socks with double white stripe</h1>
  <p class="price">$18.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

@*<table>
    <tr>
        <td>Jacket:</td>        
    </tr>
    <tr>
        <td>  - Sizes 12 - 14 years</td>
        <td>$96.00</td>
    </tr>
    <tr>
        <td>  - Sizes XXS - XS</td>
        <td>$110.00</td>
    </tr>
    <tr>
        <td>  - Sizes Small - 5XL</td>
        <td>$135.00</td>
    </tr>
*@
<br>
<br>
<h1>Size Guide</h1>
<h3>Female</h3>
<img  src = "../Images/women uniform size.PNG">
<br>
<h3>Male</h3>
<img src = "../Images/male uniform size.PNG">
<br>
<h3>Kids</h3>
<img src = "../Images/kids uniform size.PNG">
</body>