@page
@model IndexModel
@{
    ViewData["Title"] = "Optional uniform";
}
<body>
<br>

<h1>Optional:</h1>
      
<h3>ALL YEAR LEVELS</h3>
<table>
    <tr>
        <td>Jacket:</td>        
    </tr>
    <tr>
        <td>  - Sizes 12 - 14 years</td>
        <td>$96.00</td>
    </tr>
    <tr>
        <td>  - Sizes XXS - XS</td>
        <td>$110.00</td>
    </tr>
    <tr>
        <td>  - Sizes Small - 5XL</td>
        <td>$135.00</td>
    </tr>
    <tr>
        <td>Scarf (outside only)</td>
        <td>$28.50</td>
    </tr>
    <tr>
        <td>Cap (outside only)</td>
        <td>$23.00</td>
    </tr>
    <tr>
        <td>Long black socks with double white stripe</td>
        <td>$18.00</td>
    </tr>    
</table>
<br>
<br>
<h1>Size Guide</h1>
<h3>Female</h3>
<img  src = "../Images/women uniform size.PNG">
<br>
<h3>Male</h3>
<img src = "../Images/male uniform size.PNG">
<br>
<h3>Kids</h3>
<img src = "../Images/kids uniform size.PNG">
</body>