@page
@model OptionalModel
@{
    ViewData["Title"] = "Optional page";
}

<div class="headerBackground">

<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
</div>
<div class="Textcenter">
    <h1 class="display-4">Optional Uniform</h1>
    <img src = "../Images/Yr 13 Optional.PNG">

    
</div>
