@page
@model IndexModel
@{
    ViewData["Title"] = "Optional uniform";
}
<head>
    <link rel="stylesheet" href="~/css/junior.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

</head>

<body>

<h1 class="Ss-">Optional Uniform</h1>

<ul class="navbar-nav">
  <li class="nav-ting">
    <input type="text" placeholder="Search.." @*style="justify-content:flex-end;"*@>
  </li>
</ul>

<div class="card grow">
  <img class="img-card" src="../Images/trial.png" alt="Jacket 12 - 14 years" style="width:100%">
  <h1 class="h1-card">Jacket 12 - 14 years</h1>
  <p class="price">$96.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card grow">
  <img class="img-card" src="../Images/trial.png" alt="XXS - XS" style="width:100%">
  <h1 class="h1-card">Jacket XXS - XS</h1>
  <p class="price">$110.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card grow">
  <img class="img-card" src="../Images/trial.png" alt="Jacket size small - 5XL" style="width:100%">
  <h1 class="h1-card">Jacket size small - 5XL</h1>
  <p class="price">$135.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card grow">
  <img class="img-card" src="../Images/trial.png" alt="Scarf (outside only)" style="width:100%">
  <h1 class="h1-card">Scarf (outside only)</h1>
  <p class="price">$28.50</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card grow">
  <img class="img-card" src="../Images/trial.png" alt="Cap (outside only)" style="width:100%">
  <h1 class="h1-card">Cap (outside only)</h1>
  <p class="price">$23.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card grow">
  <img class="img-card" src="../Images/trial.png" alt="Black socks with white stripes" style="width:100%">
  <h1 class="h1-card">Black socks with white stripes</h1>
  <p class="price">$18.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>
</body>