@page
@model IndexModel
@{
    ViewData["Title"] = "Optional uniform";
}
<head>
    <link rel="stylesheet" href="~/css/junior.css" asp-append-version="true" />

</head>

<body>

<h1 class="Ss-">Optional Uniform</h1>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Long skirt" style="width:100%">
  <h1 class="h1-card">Long skirt</h1>
  <p class="price">$96.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Long skirt" style="width:100%">
  <h1 class="h1-card">Long skirt</h1>
  <p class="price">$110.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Long skirt" style="width:100%">
  <h1 class="h1-card">Long skirt</h1>
  <p class="price">$135.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Scarf (outside only)" style="width:100%">
  <h1 class="h1-card">Scarf (outside only)</h1>
  <p class="price">$28.50</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Cap (outside only)" style="width:100%">
  <h1 class="h1-card">Cap (outside only)</h1>
  <p class="price">$23.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Black socks with double white stripe" style="width:100%">
  <h1 class="h1-card">Black socks with double white stripe</h1>
  <p class="price">$18.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

    <div class="sG">
        <h1>Size Guide</h1>
        <h3>Female</h3>
        <img  src = "../Images/women uniform size.PNG">
        <br>
        <h3>Male</h3>
        <img src = "../Images/male uniform size.PNG">
        <br>
        <h3>Kids</h3>
        <img src = "../Images/kids uniform size.PNG">
    </div>
</body>