@page
@model SeniorStudentsModel
@{
    ViewData["Title"] = "Home page";
}
<div class="headerBackground">

<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
</div>
<div class="textCenter">
    <h1 class="display-4">Senior Students</h1>
    
</div>
<div class = "SsUniform">
<img src = "../Images/Senior student uniform.PNG">
</div>