@page
@model SeniorStudentsModel
@{
    ViewData["Title"] = "Senior Students";
}

  <head>       
  <style>
    .h2{
        margin-left: 250px;
        text-align: centre;
    }
  </style>
  </head>

<h2 class="Ss-">Senior Students</h2>

 <div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Senior straight short skirt" style="width:100%">
  <h1 class="h1-card">Senior straight short skirt</h1>
  <p class="price">$80.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Long Skirt" style="width:100%">
  <h1 class="h1-card">Long Skirt</h1>
  <p class="price">$50.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Grey shorts" style="width:100%">
  <h1 class="h1-card">Grey Shorts</h1>
  <p class="price">$59.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Pinstripe Shorts" style="width:100%">
  <h1 class="h1-card">Pinstripe Shorts</h1>
  <p class="price">$66.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="White senior blouse - Short Sleeved" style="width:100%">
  <h1 class="h1-card">White senior blouse - Short Sleeved</h1>
  <p class="price">$56.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="White senior blouse - Long Sleeved" style="width:100%">
  <h1 class="h1-card">White senior blouse - Long Sleeved</h1>
  <p class="price">$56.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Grey Trousers" style="width:100%">
  <h1 class="h1-card">Grey Trousers</h1>
  <p class="price">$59.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Polo Shirt - Short sleeved" style="width:100%">
  <h1 class="h1-card">Polo shirt - Short sleeved</h1>
  <p class="price">$35.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Polo Shirt - Long sleeved" style="width:100%">
  <h1 class="h1-card">Polo shirt - Long sleeved</h1>
  <p class="price">$48.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Black/White jersey" style="width:100%">
  <h1 class="h1-card">Black/white jersey</h1>
  <p class="price">$99.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="White Year 13 shirt - short sleev" style="width:100%">
  <h1 class="h1-card">White Year 13 shirt - short sleeved</h1>
  <p class="price">$50.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="White Year 13 shirt - long sleev" style="width:100%">
  <h1 class="h1-card">White Year 13 shirt - long sleeved</h1>
  <p class="price">$51.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Black year 13 jersey" style="width:100%">
  <h1 class="h1-card">White Year 13 shirt - short sleeved</h1>
  <p class="price">$99.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="50 denier pantihose" style="width:100%">
  <h1 class="h1-card">50 denier pantihose</h1>
  <p class="price">$9.00</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img class="img-card" src="../Images/example-image.png" alt="Black ankle socks" style="width:100%">
  <h1 class="h1-card">Black ankle socks</h1>
  <p class="price">$8.50</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>
@*note - 10 units by 10 units, 256 x 256

     <tr>
         <td>50 denier pantihose</td>
         <td>$9.00</td>
     </tr>
     <tr>
         <td>Black ankle socks</td>
         <td>$8.50</td>
     </tr>
</table>
<div class="yr13optional">
<h3 >Year 13 Optional</h3>
<table >
    <tr>
        <td>Tie</td>
        <td>$29.00</td>
    </tr>
    <tr>
        <td>Blazer</td>
        <td>$220.00</td>
    </tr>
</table>*@

@*
<br>
<br>
<br>
<h1>Size Guide</h1>
<h3>Female</h3>
<img  src = "../Images/women uniform size.PNG">
<br>
<h3>Male</h3>
<img src = "../Images/male uniform size.PNG">
<br>
<h3>Kids</h3>
<img src = "../Images/kids uniform size.PNG">*@

@*</div>*@
@*</div>*@