@page
@model SeniorStudentsModel
@{
    ViewData["Title"] = "Home page";
}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <style>
  /* Make the image fully responsive */
/*  .carousel-inner img {
    width: 50%;
    height: 50%;
    float: right;
  }
*/
 
div.absolute{
    position: absolute;
    top: 80px;
    left: 100px;
    width: 500px;
    height: 500px;
    border: none;
}
  .project01-carousel {
 width:640px;
 height:360px;
 }
  </style>
</head>


<div class="headerBackground">

<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
</div>
<div class="textCenter">
    <h1 class="display-4">Senior Students</h1>
    
</div>


@*<body>



</body>*@


  <div class="col-sm-4">
  <section class="project01-carousel halfheight">
   <section class="project-carousel-wrap halfheight">

<!-- Carousel -->
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
  
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../Images/Year 12 youts.PNG" alt="Year 12">
    </div>
    <div class="carousel-item">
      <img src="../Images/Year 13 youts.PNG" alt="year 13">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

  </section>
  </section>
  </div>

<div class = "SsUniform">


<h3>UNIFORM YEAR 11-12</h3>
<table class="seniorYearUniform">
     <tr>
         <td>Senior straight short skirt</td>
         <td>$80.00</td>
     </tr>
     <tr>
         <td>Long skirt</td>
         <td>$50.00</td>
     </tr>
     <tr>
         <td>Grey shorts</td>
         <td>$50.00</td>
     </tr>
     <tr>
         <td>Pinstripe shorts</td>
         <td>$59.00</td>
     </tr>
     <tr>
         <td>Grey trousers</td>
         <td>$66.00</td>
     </tr>
     <tr>
         <td>White senior blouse - short sleeved</td>
         <td>$56.00</td>
     </tr>
     <tr>
         <td>White senior blouse - long sleeved</td>
         <td>$56.00</td>
     </tr>
     <tr>
         <td>grey trousers</td>
         <td>$59.00</td>
     </tr>
     <tr>
         <td>Polo shirt - short sleeve</td>
         <td>$35.00</td>
     </tr>
     <tr>
         <td>Polo shirt - long sleeve</td>
         <td>$40.00</td>
     </tr>
     <tr>
         <td>Black/white jersey</td>
         <td>$99.00</td>
     </tr>
     <tr>
        <td>White Year 13 shirt (short sleeved)</td>
        <td>$50.00</td>
    </tr>
    <tr>
        <td>White Year 13 shirt (long sleeved)</td>
        <td>$51.00</td>
    </tr>
    <tr>
        <td>Black Year 13 jersey</td>
        <td>$99.00</td>
    </tr>
     <tr>
         <td>50 denier pantihose</td>
         <td>$9.00</td>
     </tr>
     <tr>
         <td>Black ankle socks</td>
         <td>$8.50</td>
     </tr>
</table>
<div class="yr13optional">
<h3 >Year 13 Optional</h3>
<table >
    <tr>
        <td>Tie</td>
        <td>$29.00</td>
    </tr>
    <tr>
        <td>Blazer</td>
        <td>$220.00</td>
    </tr>
</table>

</div>
</div>