@page
@model SeniorStudentsModel
@{
    ViewData["Title"] = "Home page";
}
<div class="headerBackground">

<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
</div>
<div class="textCenter">
    <h1 class="display-4">Senior Students</h1>
    
</div>
<div class = "SsUniform">
<h3>UNIFORM YEAR 11-12</h3>
<table>
     <tr>
         <td>Senior straight short skirt</td>
         <td>$80.00</td>
     </tr>
     <tr>
         <td>Long skirt</td>
         <td>$50.00</td>
     </tr>
     <tr>
         <td>Grey shorts</td>
         <td>$50.00</td>
     </tr>
     <tr>
         <td>Pinstripe shorts</td>
         <td>$59.00</td>
     </tr>
     <tr>
         <td>Grey trousers</td>
         <td>$66.00</td>
     </tr>
     <tr>
         <td>White senior blouse - short sleeved</td>
         <td>$56.00</td>
     </tr>
     <tr>
         <td>White senior blouse - long sleeved</td>
         <td>$56.00</td>
     </tr>
     <tr>
         <td>grey trousers</td>
         <td>$59.00</td>
     </tr>
     <tr>
         <td>Polo shirt - short sleeve</td>
         <td>$35.00</td>
     </tr>
     <tr>
         <td>Polo shirt - long sleeve</td>
         <td>$40.00</td>
     </tr>
     <tr>
         <td>Black/white jersey</td>
         <td>$99.00</td>
     <tr>
         <td>50 denier pantihose</td>
         <td>$9.00</td>
     </tr>
     <tr>
         <td>Black ankle socks</td>
         <td>$8.50</td>
     </tr>
     </tr>
</table>
</div>