@page
@model SeniorStudentsModel
@{
    ViewData["Title"] = "Home page";
}
<div class="headerBackground">

<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
</div>
<div class="textCenter">
    <h1 class="display-4">Senior Students</h1>
    
</div>
<div class = "SsUniform">
<img class = "year13yout" style = "float:right" width = "400" height = "400" src ="../Images/Year 12 youts.PNG">

<h3>UNIFORM YEAR 11-12</h3>
<table>
     <tr>
         <td>Senior straight short skirt</td>
         <td>$80.00</td>
     </tr>
     <tr>
         <td>Long skirt</td>
         <td>$50.00</td>
     </tr>
     <tr>
         <td>Grey shorts</td>
         <td>$50.00</td>
     </tr>
     <tr>
         <td>Pinstripe shorts</td>
         <td>$59.00</td>
     </tr>
     <tr>
         <td>Grey trousers</td>
         <td>$66.00</td>
     </tr>
     <tr>
         <td>White senior blouse - short sleeved</td>
         <td>$56.00</td>
     </tr>
     <tr>
         <td>White senior blouse - long sleeved</td>
         <td>$56.00</td>
     </tr>
     <tr>
         <td>grey trousers</td>
         <td>$59.00</td>
     </tr>
     <tr>
         <td>Polo shirt - short sleeve</td>
         <td>$35.00</td>
     </tr>
     <tr>
         <td>Polo shirt - long sleeve</td>
         <td>$40.00</td>
     </tr>
     <tr>
         <td>Black/white jersey</td>
         <td>$99.00</td>
     </tr>
     <tr>
        <td>White Year 13 shirt (short sleeved)</td>
        <td>$50.00</td>
    </tr>
    <tr>
        <td>White Year 13 shirt (long sleeved)</td>
        <td>$51.00</td>
    </tr>
    <tr>
        <td>Black Year 13 jersey</td>
        <td>$99.00</td>
    </tr>
     <tr>
         <td>50 denier pantihose</td>
         <td>$9.00</td>
     </tr>
     <tr>
         <td>Black ankle socks</td>
         <td>$8.50</td>
     </tr>
</table>
<img class = "year12yout" style = "float:right" width = "400" height = "400" src ="../Images/Year 13 youts.PNG">

<br>
<br>

<h3>Year 13 Optional</h3>
<table class="yr13optional">
    <tr>
        <td>Tie</td>
        <td>$29.00</td>
    </tr>
    <tr>
        <td>Blazer</td>
        <td>$220.00</td>
    </tr>
</table>
</div>